body{
    background-color:gray;
}

form{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}
input,button{
    border-radius:0.5rem;
    padding:5px;
    transition:1.1s;
}
button:hover{
    background-color:red;
    color:white;
}